In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as sts
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn import datasets
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [5]:
data = pd.read_csv('../data/thyroidDF.csv')

In [6]:
display(data)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [7]:
data.describe()
data = data[data['age'] <= 100] #

In [8]:
data.dtypes

age                      int64
sex                     object
on_thyroxine            object
query_on_thyroxine      object
on_antithyroid_meds     object
sick                    object
pregnant                object
thyroid_surgery         object
I131_treatment          object
query_hypothyroid       object
query_hyperthyroid      object
lithium                 object
goitre                  object
tumor                   object
hypopituitary           object
psych                   object
TSH_measured            object
TSH                    float64
T3_measured             object
T3                     float64
TT4_measured            object
TT4                    float64
T4U_measured            object
T4U                    float64
FTI_measured            object
FTI                    float64
TBG_measured            object
TBG                    float64
referral_source         object
target                  object
patient_id               int64
dtype: object

In [9]:
data = data[data['age'] <= 100]
data.describe()

fig_age = sns.histplot(x = data['age'], range = data.min, data.max)
display(fig_age)

SyntaxError: positional argument follows keyword argument (3810662376.py, line 4)

In [10]:
data.isna().sum()

age                       0
sex                     307
on_thyroxine              0
query_on_thyroxine        0
on_antithyroid_meds       0
sick                      0
pregnant                  0
thyroid_surgery           0
I131_treatment            0
query_hypothyroid         0
query_hyperthyroid        0
lithium                   0
goitre                    0
tumor                     0
hypopituitary             0
psych                     0
TSH_measured              0
TSH                     842
T3_measured               0
T3                     2603
TT4_measured              0
TT4                     442
T4U_measured              0
T4U                     809
FTI_measured              0
FTI                     802
TBG_measured              0
TBG                    8819
referral_source           0
target                    0
patient_id                0
dtype: int64

In [14]:
#ich probiere die missing values mit mean werte aufzufüllen

numerical_cols = data.select_dtypes(include=[np.number]).columns
data_numerical = data[numerical_cols]

imputer = KNNImputer()
data_imputed_numerical = pd.DataFrame(imputer.fit_transform(data_numerical), columns = data_numerical.columns)

data[numerical_cols] = data_imputed_numerical

In [17]:
data.isna().sum()

age                      4
sex                    307
on_thyroxine             0
query_on_thyroxine       0
on_antithyroid_meds      0
sick                     0
pregnant                 0
thyroid_surgery          0
I131_treatment           0
query_hypothyroid        0
query_hyperthyroid       0
lithium                  0
goitre                   0
tumor                    0
hypopituitary            0
psych                    0
TSH_measured             0
TSH                      4
T3_measured              0
T3                       4
TT4_measured             0
TT4                      4
T4U_measured             0
T4U                      4
FTI_measured             0
FTI                      4
TBG_measured             0
TBG                      4
referral_source          0
target                   0
patient_id               4
dtype: int64

In [28]:
#nun sind alle Werte gedropped die keine values haben

data.dropna(inplace = True)

In [39]:
#nun 

obj_cols = data.select_dtypes(include=['object']).columns
data_encoded = pd.get_dummies(data, columns=obj_cols)

In [40]:
display(data_encoded)

,age,TSH,T3,TT4,T4U,FTI,TBG,patient_id,sex_F,sex_M,...,target_M,target_MI,target_MK,target_N,target_O,target_OI,target_P,target_Q,target_R,target_S
0,29.0,0.300,2.06,107.2,1.026,85.6,24.0,840801013.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,29.0,1.600,1.90,128.0,0.996,97.4,24.0,840801014.0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,41.0,1.140,2.06,107.2,0.988,83.4,11.0,840801042.0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,36.0,1.140,2.06,107.2,0.988,83.4,26.0,840803046.0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,32.0,1.140,2.06,107.2,0.988,83.4,36.0,840803047.0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9163,56.0,1.132,1.54,64.0,0.830,77.0,28.4,870119022.0,1,0,...,0,0,0,0,0,0,0,0,0,0
9164,22.0,1.132,1.54,91.0,0.920,99.0,28.4,870119023.0,1,0,...,0,0,0,0,0,0,0,0,0,0
9165,69.0,1.132,1.54,113.0,1.270,89.0,28.4,870119025.0,1,0,...,0,0,0,0,0,0,0,0,0,0
9166,47.0,1.132,1.54,75.0,0.850,88.0,28.4,870119027.0,1,0,...,0,0,0,0,0,0,0,0,0,0
9167,31.0,1.132,1.54,66.0,1.020,65.0,28.4,870119035.0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [57]:
#definiere Zielvariabel
X = data.drop(['target', 'patient_id'], axis=1)
y = data['target']

# encode categorical variables
# get a list of columns where the data type is object
object_cols = list(X.select_dtypes(include=['object']).columns)
# perform one-hot encoding on categorical variables
X = pd.get_dummies(X, columns=object_cols)

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# create the SVM model
model = SVC()

# fit the model to the training data
model.fit(X_train, y_train)

# make predictions on the test data
y_pred = model.predict(X_test)

# evaluate the model performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average = 'weighted')
recall    = recall_score(y_test, y_pred, average = 'weighted')
f1        = f1_score(y_test, y_pred, average = 'weighted')


print("Accuracy:", accuracy,
     "Precision:", precision, 
     "recall:", recall,
     "f1:", f1)

Accuracy: 0.7454853273137697 Precision: 0.5557483732401184 recall: 0.7454853273137697 f1: 0.6367837810420237

/Users/divuu/miniconda3/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))